In [1]:
import numpy as np
import pandas as pd

Downloading the data from a csv file

In [2]:
data = pd.read_csv('../data/data.csv')

In [3]:
data.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,AIR_62,Household and ambient air pollution attributab...,numeric,AMR,Americas,Country,ATG,Antigua and Barbuda,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0-0],NaN,NaN,EN,2024-10-02T22:00:00.000Z
1,AIR_62,Household and ambient air pollution attributab...,numeric,WPR,Western Pacific,Country,AUS,Australia,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0-0],NaN,NaN,EN,2024-10-02T22:00:00.000Z
2,AIR_62,Household and ambient air pollution attributab...,numeric,EUR,Europe,Country,AUT,Austria,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0-0],NaN,NaN,EN,2024-10-02T22:00:00.000Z
3,AIR_62,Household and ambient air pollution attributab...,numeric,AMR,Americas,Country,BHS,Bahamas,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0-0],NaN,NaN,EN,2024-10-02T22:00:00.000Z
4,AIR_62,Household and ambient air pollution attributab...,numeric,EMR,Eastern Mediterranean,Country,BHR,Bahrain,Year,2019,...,NaN,NaN,0.0,NaN,0.0,0 [0-0],NaN,NaN,EN,2024-10-02T22:00:00.000Z

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34200 entries, 0 to 34199
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   IndicatorCode               34200 non-null  object
 1   Indicator                   34200 non-null  object
 2   ValueType                   34200 non-null  object
 3   ParentLocationCode          34200 non-null  object
 4   ParentLocation              34200 non-null  object
 5   Location type               34200 non-null  object
 6   SpatialDimValueCode         34200 non-null  object
 7   Location                    34200 non-null  object
 8   Period type                 34200 non-null  object
 9   Period                      34200 non-null  int64
 10  IsLatestYear                34200 non-null  bool
 11  Dim1 type                   34200 non-null  object
 12  Dim1                        34200 non-null  object
 13  Dim1ValueCode               34200 non-null  object
 14  Dim2 type                   34200 non-null  object
 15  Dim2                        34200 non-null  object
 16  Dim2ValueCode               34200 non-null  object
 17  Dim3 type                   0 non-null      float64
 18  Dim3                        0 non-null      float64
 19  Dim3ValueCode               0 non-null      float64
 20  DataSourceDimValueCode      0 non-null      float64
 21  DataSource                  0 non-null      float64
 22  FactValueNumericPrefix      0 non-null      float64
 23  FactValueNumeric            34200 non-null  float64
 24  FactValueUoM                0 non-null      float64
 25  FactValueNumericLowPrefix   0 non-null      float64
 26  FactValueNumericLow         34200 non-null  float64
 27  FactValueNumericHighPrefix  0 non-null      float64
 28  FactValueNumericHigh        34200 non-null  float64
 29  Value                       34200 non-null  object
 30  FactValueTranslationID      0 non-null      float64
 31  FactComments                0 non-null      float64
 32  Language                    34200 non-null  object
 33  DateModified                34200 non-null  object
dtypes: bool(1), float64(14), int64(1), object(18)
memory usage: 8.6+ MB

We can see here that some columns have 0 non-null values. I would like to drop these columns as they carry no value in this case

In [5]:
cols_to_drop = [col for col in data.columns if data[col].isnull().sum() == 34200]
data.drop(columns=cols_to_drop, inplace=True)

In [6]:
len(data.columns)

23

We can see that column count went down by 11, so 11 columns had all null values

Next I would like to find columns that have only one value across the whole dataset. If there are any, I would like to drop these columns to clean up the data

In [7]:
only_one = [col for col in data.columns if len(data[col].unique()) == 1]
print(only_one)

['IndicatorCode', 'Indicator', 'ValueType', 'Location type', 'Period type', 'Dim1 type', 'Dim2 type', 'Language', 'DateModified']

In [8]:
data.drop(columns = only_one, inplace=True)

In [9]:
print(data.columns)
len(data.columns)

Index(['ParentLocationCode', 'ParentLocation', 'SpatialDimValueCode',
       'Location', 'Period', 'IsLatestYear', 'Dim1', 'Dim1ValueCode', 'Dim2',
       'Dim2ValueCode', 'FactValueNumeric', 'FactValueNumericLow',
       'FactValueNumericHigh', 'Value'],
      dtype='object')

14

In [10]:
print(data['Dim1ValueCode'].unique())
print(data['Dim1'].unique())

['SEX_FMLE' 'SEX_MLE' 'SEX_BTSX']
['Female' 'Male' 'Both sexes']

In [11]:
print(data['Dim2ValueCode'].unique())
print(data['Dim2'].unique())

['GHECAUSE_GHE001040' 'GHECAUSE_GHE000680' 'GHECAUSE_GHE001180'
 'GHECAUSE_GHE000390' 'GHECAUSE_GHE000000' 'GHECAUSE_GHE001130'
 'GHECAUSE_GHE001140']
['Cataracts' 'Trachea, bronchus, lung cancers'
 'Chronic obstructive pulmonary disease'
 'Acute lower respiratory infections' 'All causes'
 'Ischaemic heart disease' 'Stroke']

We can see that data table has 2 columns for marking *Dim1*, *Dim2*, *ParentLocation* and *Location* - codes and actual names.

For the sake of easier visualization and data understansing I would like to drop code named columns and only leave actual names.

In [12]:
data.drop(columns=['Dim1ValueCode', 'Dim2ValueCode', 'ParentLocationCode', 'SpatialDimValueCode'], inplace=True)

I would like to rename **Dim1** to **Sex** and **Dim2** to **Desease**.

As I have deleted *Period type* column during previous data cleaning steps, I would also like to rename **Period** column to just **Year** (as *period type* value was a column with only 1 value throughout the whole dataset - *year*)

In [13]:
data = data.rename(columns={'Dim1': 'Sex', 'Dim2': 'Disease', 'Period' : 'Year'})

In [14]:
data.head()

,ParentLocation,Location,Year,IsLatestYear,Sex,Disease,FactValueNumeric,FactValueNumericLow,FactValueNumericHigh,Value
0,Americas,Antigua and Barbuda,2019,True,Female,Cataracts,0.0,0.0,0.0,0 [0-0]
1,Western Pacific,Australia,2019,True,Female,Cataracts,0.0,0.0,0.0,0 [0-0]
2,Europe,Austria,2019,True,Female,Cataracts,0.0,0.0,0.0,0 [0-0]
3,Americas,Bahamas,2019,True,Female,Cataracts,0.0,0.0,0.0,0 [0-0]
4,Eastern Mediterranean,Bahrain,2019,True,Female,Cataracts,0.0,0.0,0.0,0 [0-0]

As per my opinion, the data is cleansed now, so I will save it to another csv file for further visualization

In [15]:
data.to_csv('../data/cleaned_data.csv', index=False)